
/web-boot/src/main/resources/application-backup.yml
/web-boot/src/main/resources/application-echo.properties
/web-boot/src/test/java/cn/cpf/se/Test.java
/.doc


**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.jar
*.war
*.lst
out/

HELP.md
.gradle

### VS Code ###
.vscode/
/mod/dict/target/
/mod/plugins/target/
