##定义初始变量
#set($tableName = $tool.append("I", $tableInfo.name))
##设置回调
$!callback.setFileName($tool.append($tableName, ".java"))
##定义路径
##$!callback.setSavePath($tool.append($tableInfo.savePath, "/service"))
$!callback.setSavePath($tool.append($projectPath, "/service/src/main/java/ats/ity/service/base/api"))

##拿到主键
#if(!$tableInfo.pkColumn.isEmpty())
    #set($pk = $tableInfo.pkColumn.get(0))
#end

###if($tableInfo.savePackageName)package $!{tableInfo.savePackageName}.#{end}service;
package ats.ity.service.base.api;

import ats.ity.common.model.entity.$!{tableInfo.name};
import ats.ity.common.model.example.$!{tableInfo.name}Example;
import java.util.List;
import java.util.Map;

/**
* $!{tableInfo.comment}($!{tableInfo.name})表服务接口
*
* @author $!author
* @since $!time.currTime()
*/
public interface $!{tableName} {
#if(!$tableInfo.pkColumn.isEmpty())
    #foreach($column in $tableInfo.pkColumn)

    /**
    * 通过 $!{column.name} 查询单条数据
    *
    * @param $!{column.name} $!{column.comment}
    * @return 实例对象
    */
        $!{tableInfo.name} findByPrimaryKey($column.shortType $!{column.name});
    #end
#end

/**
* 查询多条数据
*
* @param conditionMap 查询条件
* @return 对象列表
*/
List<$!{tableInfo.name}> selectAll(Map<String, Object> conditionMap);

/**
* 查询列表数据
*
* @param example 查询实例
* @return 对象列表
*/
List<$!{tableInfo.name}> selectByExample($!{tableInfo.name}Example example);

/**
* 新增数据
*
* @param $!tool.firstLowerCase($!{tableInfo.name}) 实例对象
* @return 实例对象
*/
$!{tableInfo.name} insert($!{tableInfo.name} $!tool.firstLowerCase($!{tableInfo.name}));

/**
* 修改数据
*
* @param $!tool.firstLowerCase($!{tableInfo.name}) 实例对象
* @return 实例对象
*/
int updateByPrimaryKey($!{tableInfo.name} $!tool.firstLowerCase($!{tableInfo.name}));

/**
* 通过主键删除数据
*
* @param $!pk.name 主键
* @return 是否成功
*/
boolean deleteByPrimaryKey($!pk.shortType $!pk.name);

}