${dataBean}
!$dataBean.str
!${dataBean.str}
##package ats.ity.common.constant.dic;
##
##import ats.ity.common.model.base.CodeItemPool;
##import ats.ity.common.model.base.ICodeItem;
##
##/**
## * <b>Description : </b> $dataBean.getComment()
## *
## * @author CPF
## * @date 2019/5/27 16:03
##**/
##public interface Dic$tool.upperCamelize(${dataBean.tableName}) {
##
###foreach($column in $dataBean.getList())
##    /**
##    * $!{column.comment}
##    */
##    @Override
##    enum $tool.upperCamelize($!{column.name}) implements ICodeItem {
##
###foreach($item in $column.getList())
##        /**
##        * $item.comment
##        */
##        $!{item.name}("$!{item.value}", "$!{item.cnLabel}"),
###end
##
##        $tool.upperCamelize($!{column.name})(String code, String text) {
##            CodeItemPool.putCodeItem(this, code, text);
##        }
##    }
###end
##
##}
