package ats.ity.common.constant.dic;

import ats.ity.common.model.base.CodeItemPool;
import ats.ity.common.model.base.ICodeItem;

/**
 * <b>Description : </b> $dataBean.comment
 *
 * @author CPF
 * @date 2019/5/27 16:03
**/
public interface Dic$tool.upperCamelize(${dataBean.tableName}) {

#foreach($column in $dataBean.list)
    /**
     * $!{column.comment}
     */
    enum $!{column.name} implements IDictItem {

#foreach($item in $column.list)
        /**
        * $item.comment
        */
        $!{item.name}("$!{item.value}", "$!{item.cnLabel}"),
#end

        $!{column.name}(String value, String label) {
            CodeItemPool.putCodeItem(this, value, label);
        }
    }
#end

}
