<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cpf.mod.plugins.dao.SysDesignCombineMapper">


    <resultMap id="SysTableBoMap" type="cn.cpf.web.base.model.bo.SysTableBo">
        <id column="schema_tag" jdbcType="VARCHAR" property="schemaTag" />
        <id column="name" jdbcType="VARCHAR" property="name" />
        <result column="simple_name" jdbcType="VARCHAR" property="simpleName" />
        <result column="type" jdbcType="VARCHAR" property="type" />
        <result column="comment" jdbcType="VARCHAR" property="comment" />
    </resultMap>

    <resultMap id="SysFieldBoMap" type="cn.cpf.web.base.model.bo.SysFieldBo">
        <id column="schema_tag" jdbcType="VARCHAR" property="schemaTag" />
        <id column="table_name" jdbcType="VARCHAR" property="tableName" />
        <id column="name" jdbcType="VARCHAR" property="name" />
        <result column="label" jdbcType="VARCHAR" property="label" />
        <result column="dict_type" jdbcType="VARCHAR" property="dictType" />
        <result column="show_search" jdbcType="VARCHAR" property="showSearch" />
        <result column="show_list" jdbcType="VARCHAR" property="showList" />
        <result column="show_add" jdbcType="VARCHAR" property="showAdd" />
        <result column="show_edit" jdbcType="VARCHAR" property="showEdit" />
        <result column="show_detail" jdbcType="VARCHAR" property="showDetail" />
        <result column="sort" jdbcType="INTEGER" property="sort" />
        <result column="comment" jdbcType="VARCHAR" property="comment" />
        <result column="ordinal_position" jdbcType="INTEGER" property="ordinalPosition" />
        <result column="column_default" jdbcType="VARCHAR" property="columnDefault" />
        <result column="is_nullable" jdbcType="VARCHAR" property="isNullable" />
        <result column="data_type" jdbcType="VARCHAR" property="dataType" />
        <result column="character_maximum_length" jdbcType="INTEGER" property="characterMaximumLength" />
        <result column="column_type" jdbcType="VARCHAR" property="columnType" />
        <result column="column_key" jdbcType="VARCHAR" property="columnKey" />
        <result column="column_comment" jdbcType="VARCHAR" property="columnComment" />
    </resultMap>

    <select id="selectSysTableBoByTableName"  resultMap="SysTableBoMap">
        SELECT it.table_comment comment, it.TABLE_SCHEMA schema_tag, it.TABLE_NAME name, st.simple_name, st.type
        from information_schema.TABLES it LEFT JOIN sys_table_extend st
        on it.TABLE_SCHEMA = st.schema_tag and it.TABLE_NAME = st.name
        WHERE it.TABLE_SCHEMA = 'my-project' and it.TABLE_NAME = #{tableName};
    </select>

    <select id="selectSysFieldBoByTableName"  resultMap="SysFieldBoMap">
        SELECT
            ic.table_schema schema_tag,
            ic.TABLE_NAME,
            ic.COLUMN_NAME name,
            ic.ordinal_position,
            ic.column_default,
            ic.is_nullable,
            ic.data_type,
            ic.character_maximum_length,
            ic.column_type,
            ic.column_key,
            ic.COLUMN_comment,
            sf.*
        FROM
            information_schema. COLUMNS ic LEFT JOIN sys_field_extend sf
                on ic.TABLE_SCHEMA = sf.schema_tag and ic.TABLE_NAME = sf.table_name and ic.COLUMN_NAME = sf.name
        WHERE
            ic.TABLE_SCHEMA = 'my-project' and ic.TABLE_NAME = #{tableName}
        ORDER BY
            ic.TABLE_NAME,
            ic.ORDINAL_POSITION;
    </select>


</mapper>
