<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
<html>

<head>
    <base href="/">
    <title>I同业用户重置密码</title>
    <link rel="icon" href="/static/etc/img/favicon.ico" type="image/x-icon"/>

    <link rel="stylesheet" href="/static/etc/frame/element-ui/element.css"/>
    <link rel="stylesheet" href="/static/etc/frame/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/static/etc/css/base/color.css"/>

    <script type="text/javascript" src="/static/etc/frame/jquery/jquery-current.min.js"></script>
    <script type="text/javascript" src="/static/etc/js/base/base.js"></script>
    <script type="text/javascript" src="/static/etc/frame/layer/layer.js"></script>
    <script type="text/javascript" src="/static/etc/js/base/ity-common-utils.js"></script>
    <script type="text/javascript" src="/static/etc/frame/vue.js"></script>
    <script type="text/javascript" src="/static/etc/frame/element-ui/element.js"></script>
    <script type="text/javascript" src="/static/etc/js/plugins/md5.js"></script>
    <style type="text/css">
    </style>

</head>

<body style="overflow-y:scroll; height: 100%; background:#3c4349">

<div id="resetPasswordModal" style="padding: 10px">
    <template>
        <div style="margin: 20px auto;text-align: center;">
            <img src="/static/etc/img/logo.png" alt="">
        </div>
        <el-tabs v-model="activeName" stretch>
            <el-tab-pane label="重置密码" name="resetPassword">
                <div style="background-color: #262c38; padding: 20px">
                    <el-form :model="resetPasswordForm" :rules="resetPasswordFormRules" ref="resetPasswordForm" hide-required-asterisk>
                        <el-form-item prop="phone">
                            <el-input placeholder="请输入手机号" v-model="resetPasswordForm.phone" maxlength="13">
                                <template slot="prepend">
                                    <div class="fa fa-fw fa-2x fa-phone"></div>
                                </template>
                            </el-input>
                        </el-form-item>
                        <el-form-item prop="pwd1">
                            <el-input placeholder="请输入6-20位密码" v-model="resetPasswordForm.pwd1" type="password" show-password maxlength="20">
                                <template slot="prepend">
                                    <div class="fa fa-fw fa-2x fa-lock"></div>
                                </template>
                            </el-input>
                        </el-form-item>
                        <el-form-item prop="pwd2">
                            <el-input placeholder="请再次输入密码" v-model="resetPasswordForm.pwd2" type="password" show-password maxlength="20">
                                <template slot="prepend">
                                    <div class="fa fa-fw fa-2x fa-lock"></div>
                                </template>
                            </el-input>
                        </el-form-item>
                        <el-form-item prop="captcha">
                            <el-input placeholder="请输入图片验证码" v-model="resetPasswordForm.captcha" maxlength="6">
                                <template slot="prepend">
                                    <div class="fa fa-fw fa-2x fa-shield"></div>
                                </template>
                                <div slot="append" @click="changeCaptcha()" class="padding-0">
                                    <img style="width: fit-content; height: 100%;" :src="captchaUrl"/>
                                </div>
                            </el-input>
                        </el-form-item>
                        <el-form-item prop="verifyCode">
                            <el-input placeholder="请输入手机验证码" v-model="resetPasswordForm.verifyCode" maxlength="6">
                                <template slot="prepend">
                                    <div class="fa fa-fw fa-2x fa-shield"></div>
                                </template>
                                <el-button slot="append" @click="getVerificationCode"
                                           :disabled="btnGetVerifyCode.disabled"><span>{{btnGetVerifyCode.text}}</span></el-button>
                            </el-input>
                        </el-form-item>
                        <div style="width: 100%; padding-bottom: 15px;margin: 0 auto;text-align: center;">
                            <el-button type="primary" @click="resetPassword">重置密码</el-button>
                        </div>
                    </el-form>
                </div>
            </el-tab-pane>
        </el-tabs>
    </template>
</div>

<script type="text/javascript" src="/static/etc/js/page/base/resetPassword.js"></script>
</body>

</html>
